{% extends "base.html" %}
{% block title %}Contact | SecureCare{% endblock %}

{% block content %}

<section class="py-5">

<div class="container">

<div class="section-title">
<h2>Contact Us</h2>
<p>We would love to hear from you.</p>
</div>

<div class="row">

<div class="col-md-6">

<form>

<input class="form-control mb-3" placeholder="Full Name">

<input class="form-control mb-3" placeholder="Email">

<input class="form-control mb-3" placeholder="Phone Number">

<textarea class="form-control mb-3" rows="5" placeholder="Message"></textarea>

<button class="btn btn-primary">
Send Message
</button>

</form>

</div>

<div class="col-md-6">

<h4>Hospital Information</h4>

<p>📍 Kathmandu, Nepal</p>

<p>📞 +977-9800000000</p>

<p>📧 support@securecare.com</p>

<p>🕒 Open 24 Hours</p>

</div>

</div>

</div>

</section>

{% endblock %}
