{% extends "base.html" %}
{% block title %}Dashboard | SecureCare{% endblock %}

{% block content %}

<section>

<div class="container">

<div class="section-title">

<h2>Patient Dashboard</h2>

<p>Overview of healthcare activities.</p>

</div>

<div class="row g-4">

<div class="col-md-4">
<div class="card">
<div class="card-body text-center">
<h2>12</h2>
<p>Appointments</p>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card">
<div class="card-body text-center">
<h2>5</h2>
<p>Doctors Visited</p>
</div>
</div>
</div>

<div class="col-md-4">
<div class="card">
<div class="card-body text-center">
<h2>3</h2>
<p>Medical Reports</p>
</div>
</div>
</div>

</div>

</div>

</section>

{% endblock %}
